# Build outputs
build/
move/mint_nft/build/

# Sui artifacts
traces/
.trace
.coverage*

# Environment files
.env
app/.env

# Dependencies
node_modules/

# IDE
.vscode/

# Misc
digest.txt
*.log

project.md 
digest.txt
